@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

h3{
  color: #09d3ac;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  align-items: center;
  justify-items: center;
}

.TextInput{
  background-color: white;
  padding: 15px;
  border-radius: 5%/15%;
  box-shadow: 0px 9px 41px 0px rgba(120,119,133,0.43);

}

legend{
  font-size: 15px;
  padding-bottom: 15px;
}

input{
  font-size: 15px;
}

input:focus{
  outline:0;
}

#heading{
  padding-top: 10px;
  padding-bottom: 20px;
}

#result{
  padding-top: 50px;
}